* {
    margin: 0;
}
body {
    color: white;
    background-color: #0F4C75;
}

/* Header */
header {
    background-color: #343a40;
    color: white;
    padding: 25px;
    text-align: center;
}

/* Main Content */
main {
    display: flex;
}

/* Search Form */
.search-form h3 {
    font-size: 25px;
}
input[type=text] {
    padding: 8px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.9s;
    transition: 0.9s;
    outline: none;
    border-radius: 5px;
    font-size: large;
}
input[type=text]:focus {
    border: 3px solid black;
}
.search-form button, .delete-btn {
    padding: 11px;
    background-color: dodgerblue;
    outline: none;
    border-radius: 11px;
    color: floralwhite;
    font-weight: 600;
    font-size: 15px;
}
.search-form button:hover, .delete-btn:hover {
    cursor: pointer;
}

/* History Tab */
.delete-btn {
    margin-left: 35%;
}
.history {
    background-color: #BBE1FA;
    height: 60vh;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}
.historybtn {
    width: 95%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 5px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    -webkit-transition: 0.9s;
    transition: 0.9s;
}
.historybtn:hover {
    background-color: rgb(200,200,200);
    cursor: pointer;
}

/* Left and Right Content Flex Box */
.left-content {
    flex: 25%;
    padding: 15px;
    height: 70vh;
}
.right-content {
    flex: 75%;
    margin-left: 15px;
    margin-right: 10px;
    padding: 15px;
}

/* Current Day Content */
.current-day-content {
    height: 40vh;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 15px;
}
.current-day-content h3 {
    font-size: 35px;
    margin-bottom: 30px;
}
.current-day-content p {
    font-size: 20px;
    margin-top: 20px;
}
.city-title-heading {
    display: flex;
}
.weather-img {
    position: relative;
    bottom: 10px;
    left: 10px;
    background-color: #3282C9;
    height: 60px;
    width: 60px;
    border-radius: 15px;
}
.uv-styles {
    color: black;
    border-radius: 5px;
    padding: 5px;
}
.safe-index {
    background-color: greenyellow;
    
}
.moderate-index {
    background-color: yellow;
    
}
.high-index {
    background-color: orange;
    
}
.very-high-index {
    background-color: red;
    
}
.extreme-index {
    background-color: purple;
    
}

/* Five Day Content */
.five-day-content {
    height: 24vh;
    border: 1px solid black;
    border-radius: 8px;
    padding: 15px;
}
.five-day-content h2 {
    margin-bottom: 8px;
}
.five-day-wrapper {
    display: flex;
    justify-content: space-between;
}
.five-day-card {
    background-color: #3282B8;
    height: 200px;
    width: 185px;
    border-radius: 5px;
}
.five-day-date {
    margin-top: 5px;
    text-align: center;
    font-size: 25px;
}
.five-day-img {
    position: relative;
    left: 35px;
}
.five-day-temp, .five-day-humidity {
    margin-bottom: 10px;
    margin-left: 8px;
    font-size: large;
}